main {
    width: 90%;
}

.header {
    width: 90%;
    height: 100px;
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
    box-shadow: inset 0 0 20px darkgoldenrod,
                0 10px 10px dimgray;
}

.header h1 {
    padding: 20px;
}

.board {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/table.jpg");
    background-size: cover;
    background-position: center;
}

.board h2 {
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.card {
    width: 75px;
    height: 100px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid gold;
    box-shadow: 3px 3px 5px black, -5px 5px 3px dimgray;
    font-size: 2em;
}

#dealer,
#player {
    display: flex;
    flex-wrap: wrap;
    min-width: 200px;
    min-height: 200px;
    margin: 10px;
}

.back {
    background-image: url("../images/honeycomb.png");
    background-size: cover;
    background-position: center;
    font-size: 0;   
}

#endGame {
    width: 85%;
    height: 200px;
    flex-direction: column;
}